<h1>{{ "message_fiche_produit" | trans }}</h1>

<h2>{{ "message_liste" | trans }}</h2>
{% if produit %}
<h3>{{ "message_nom" | trans }}: {{produit.nom}}</h3>
<table>
   <thead>
     <tr>
       <th>{{ "message_nombre" | trans }}</th>
       <th>{{ "message_boutique" | trans }}</th>
       <th>{{ "message_prix" | trans }}</th>
     </tr>
   </thead>

    <tbody>
     {% for produitHasBoutique in produit.produitHasBoutique %}
      {% if produitHasBoutique.statut in [200,2000] %}
       <tr>
          <td> {{ loop.index }} </td>
          <td> {{ produitHasBoutique.boutique.nom }} </td>
          <td> <a href="{{produitHasBoutique.url}}" target="_blank"> {{produitHasBoutique.prixFullText}} </a> </td>
       </tr>
       {% endif %}
     {% endfor %}
    </tbody>
</table>

{% else %}
  <h4>{{ "message_pas_de_produit" | trans }}</h4>
{% endif %}
