<h1>{{ "message_liste_produit" | trans }}</h1>

<h2>{{ "message_filtre" | trans }}</h2>
<form method="get" action="{{path('produit')}}">
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" value="filter" />
</form>

<h2>{{ "message_liste" | trans }}</h2>
{% if produits %}
<table>
   <thead>
     <tr>
       <th>{{ "message_nombre" | trans }}</th>
       <th>{{ "message_nom" | trans }}</th>
     </tr>
   </thead>

    <tbody>
     {% for produit in produits %}
       <tr>
          <td> {{ loop.index }} </td>
          <td> <a href="{{path('produit_show',{ 'id' : produit.id})}}">{{produit.nom}} </a></td>
       </tr>
     {% endfor %}
    </tbody>
</table>

{% else %}
  <h4>{{ "message_pas_de_produit" | trans }}</h4>
{% endif %}
