<h1>{{ "Les annonces" | trans }}</h1>

<h2>{{ "Mes annonces" | trans }}</h2>
<a href="{{path('mes_annonces')}}">
  <h4>{{ "Mes annonces" | trans }}</h4>
</a>

<h2>{{ "Offres" | trans }}</h2>
<a href="{{path('annonce',{'type' : offre.getType()})}}">
  <h4>{{ "voir les" | trans }} {{ "offres" | trans }}</h4>
</a>

<h2>{{ "Demandes" | trans }}</h2>
<a href="{{path('annonce',{'type' : demande.getType()})}}">
  <h4>{{ "voir les" | trans }} {{ "demandes" | trans }}</h4>
</a>

<h2>{{ "Offres Emploi" | trans }}</h2>
<a href="{{path('annonce',{'type' : offreEmploi.getType()})}}">
  <h4>{{ "voir les" | trans }} {{ "offres emploi" | trans }}</h4>
</a>

<h2>{{ "Demandes Emploi" | trans }}</h2>
<a href="{{path('annonce',{'type' : demandeEmploi.getType()})}}">
  <h4>{{ "voir les" | trans }} {{ "demandes emploi" | trans }}</h4>
</a>
