<h1>{{ "Modification" | trans }}</h1>

<div class="well">

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.codePostal) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.images) }}
    <h4>Images already uploaded</h4>
    <table>
   {% for image in annonce.images %}
       <tr>
         <td>
           <input type="checkbox" name="image{{ image.id }}" value="1">Supprimer<br>
         </td>
         <td><img src="{{ vich_uploader_asset(image, 'image') }}" alt="{{ image.imageName }}" /></td>
       </tr>
   {% endfor %}
      </table>

    {% if annonce.getType() == "Offre"  %}
        {{ form_row(form.frais) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.enchere) }}
        {{ form_row(form.prixReserve) }}
        {{ form_row(form.categoriePro) }}
    {% endif %}

    {% if annonce.getType() == "OffreEmploi"  %}
        {{ form_row(form.categorieEmploi) }}
        {{ form_row(form.typeContrat) }}
        {{ form_row(form.salaire) }}
    {% endif %}

    {% if annonce.getType() == "Demande"  %}
        {{ form_row(form.categoriePro) }}
    {% endif %}


    {% if annonce.getType() == "DemandeEmploi"  %}
        {{ form_row(form.categorieEmploi) }}
        <h4>Files already uploaded</h4>
        <table>
       {% for fichier in annonce.fichiers %}
           <tr>
             <td>
               <input type="checkbox" name="fichier{{ fichier.id }}" value="1">Supprimer<br>
             </td>
             <td><a href="{{ vich_uploader_asset(fichier, 'fichier') }}">{{ fichier.fichierName }}</a></td>
           </tr>
       {% endfor %}
          </table>
    {% endif %}

    {{ form_end(form) }}

</div>
