<h2>{{title | raw}}</h2>
{% for enchere in encheres %}
  <p>
    Enchere de:  {{ enchere.encherisseur.username }} d'un montant {{ enchere.montant }}
  </p>

{% endfor %}
{% if enchereGagnant %}

<h3>Enchere Gagnant</h3>
<p>
  Enchere de:  {{ enchereGagnant.encherisseur.username }} d'un montant {{ enchereGagnant.montant }}
  Email: {{ enchereGagnant.encherisseur.email }}
</p>

{% else %}

<h3>Pas d'enchere Gagnant</h3>

{% endif %}
