<h1>{{ "Les annonces" | trans }}</h1>

<a href="{{path('creation_annonce',{'type' : type})}}">
  <h4>{{ "Formulaire de creation" | trans }}</h4>
</a>

<div class="well">
  <form method="post" action="{{path('annonce',{'type' : type})}}">
      {{ form_rest(formSearch) }}
  </form>
</div>

<h2>{{ "message_filtre" | trans }}</h2>
<form method="get" action="{{path('annonce',{'type' : type})}}">
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" value="filter" />
</form>

{% if annonces %}
{% for annonce in annonces %}
<a href="{{path('annonce_show',{'id' : annonce.id})}}">
<h4>{{annonce.titre}}</h4>
</a>
{% endfor %}


{% else %}
  <h4>{{ "Pas d'annonces" | trans }}</h4>
{% endif %}
