<h1>{{ "Mes annonces" | trans }}</h1>

{% for flashMessage in app.flashes('notice') %}

    {{ flashMessage }}

{% endfor %}


{% if annonces %}
<table>
  <tr>
    <th>{{ "Titre" | trans }}</th>
    <th>{{ "Statut" | trans }}</th>
    <th>{{ "Lien" | trans }}</th>
  </tr>
  {% for annonce in annonces %}
  <tr>
    <td>{{annonce.titre}}</td>
    <td>{{annonce.statut}}</td>
    <td>
      <a href="{{path('annonce_show',{ 'id' : annonce.id})}}">
        <h4>{{ "Consulter" | trans }}</h4>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
  <h4>{{ "Pas d'annonces" | trans }}</h4>
{% endif %}

<hr />
<h1>{{ "Annonces sauvegarder" | trans }}</h1>
{% if annoncesSauvegardees %}
    {% for annoncesSauvegardee in annoncesSauvegardees %}
      {% if annoncesSauvegardee.statut == constant('STATUT_EN_COURS', annoncesSauvegardee) %}
        <a href="{{path('annonce_show',{ 'id' : annoncesSauvegardee.id})}}">
          <h4>{{annoncesSauvegardee.titre}}</h4>
        </a>
      {% endif %}
    {% endfor %}
{% else %}
  <h4>{{ "Pas d'annonces sauvegardee" | trans }}</h4>
{% endif %}
