<h1>{{ "Annonce specifique" | trans }}</h1>

<h2>{{annonce.titre}}</h2>
<h3>{{annonce.description}}</h3>
{% for image in annonce.images %}
<img src="{{ vich_uploader_asset(image, 'image') }}" alt="{{ image.imageName }}" />
{% endfor %}

{% if annonce.fichiers is defined  %}
{% for fichier in annonce.fichiers %}
  <a href="{{ vich_uploader_asset(fichier, 'fichier') }}">{{ fichier.fichierName }}</a>
{% endfor %}

{% endif %}

{% if app.user == annonce.auteur %}
    <a href="{{path('annonce_modifier',{ 'id' : annonce.id})}}">
      {{ "modifier l'annonce" | trans }}
    </a>
    <br/>

    {% if annonce.statut == constant('STATUT_EN_COURS', annonce)  %}
    <a href="{{path('annonce_arreter',{ 'id' : annonce.id})}}">
      {{ "arreter l'annonce" | trans }}
    </a>
    {% endif %}

      {% if annonce.statut == constant('STATUT_EXPIREE', annonce) or annonce.statut == constant('STATUT_ARRETEE', annonce)  %}
        <a href="{{path('annonce_republier',{ 'id' : annonce.id})}}">
          {{ "republier l'annonce" | trans }}
        </a>
      {% endif %}

{% else %}
  <a href="{{path('annonce_sauvegarder',{ 'id' : annonce.id})}}">
    {{ "sauvegarder l'annonce" | trans }}
  </a>

  {% if annonce.statut == constant('STATUT_EN_COURS', annonce)  %}
    <h2>{{ "Repondre a l'annonce" | trans }}</h2>
    <div class="well">
      <form method="post" action="{{path('annonce_reponse',{ 'id' : annonce.id})}}" enctype="multipart/form-data">
          {{ form_rest(form) }}
      </form>
    </div>

    {% for flashMessage in app.flashes('notice') %}

        {{ flashMessage }}

    {% endfor %}
  {% endif %}
{% endif %}
