<h4>{{ "Mes Abonnements" | trans }}</h4>
{% if abonnements %}
  {% for abonnement in abonnements %}
    <a href="{{ path('actioncommerciale_show',{ 'id' : abonnement.actionCommerciale.id}) }}">
      <h4>{{ abonnement.actionCommerciale.titre }}</h4>
    </a>
  {% endfor %}
{% else %}
  <h4>{{ "Pas d'abonnement" | trans }}</h4>
{% endif %}
