{% if actionsCommerciales %}
  {% for actionsCommerciale in actionsCommerciales %}
    <a href="{{path('actioncommerciale_show',{ 'id' : actionsCommerciale.id})}}">
      <h4>{{ actionsCommerciale.titre }}</h4>
    </a>
  {% endfor %}
{% else %}
  <h4>{{ "Pas d'action commerciale" | trans }}</h4>
{% endif %}
