<h2>{{ "Titre" | trans }}: {{actionsCommerciale.titre}}</h2>
<p>{{ "Description" | trans }}: {{actionsCommerciale.description}}</p>

<img
  src="{{ vich_uploader_asset(actionsCommerciale, 'imagePrincipale') }}"
  alt="{{ actionsCommerciale.imagePrincipale }}"
/>
<hr />
<img
  src="{{ vich_uploader_asset(actionsCommerciale, 'imageSecondaire') }}"
  alt="{{ actionsCommerciale.imageSecondaire }}"
/>

<h3>{{ "difficulte" | trans }}: {{actionsCommerciale.difficulte}}</h3>
<h3>{{ "categorie" | trans }}: {{actionsCommerciale.categorie}}</h3>

<h3>{{ "les etapes" | trans }}</h3>

{% for etapeCommerciale in actionsCommerciale.etapeCommerciale %}
  {% if etapeCommerciale.description != null %}
  <h4>{{ loop.index }}. {{ etapeCommerciale.titre }}</h4>
  <h4>{{ etapeCommerciale.description }}</h4>
  {% endif  %}
{% endfor %}


{% if abonnement == null %}
    {% if type == constant('CommercialBundle\\Entity\\AbstractActionCommerciale::PERMANENTE') %}
        <a href="{{path('abonner',{ 'id' : actionsCommerciale.id})}}">
          <button>{{ "Abonner" | trans }}</button>
        </a>
    {% elseif type == constant('CommercialBundle\\Entity\\AbstractActionCommerciale::EVENEMENTIELLE') %}
        <form method="post" action="{{path('abonner',{'id' : actionsCommerciale.id})}}">
            {{ form_rest(form) }}
        </form>
    {% endif  %}
{% else  %}
  <a href="{{path('desabonner',{ 'id' : abonnement.id})}}">
    <button>{{ "Desabonner" | trans }}</button>
  </a>
{% endif  %}


{% for flashMessage in app.flashes('notice') %}

    {{ flashMessage }}

{% endfor %}
